.upos-nav {
    flex-direction: row;
}

body {
    background-color: rgb(18, 35, 88) !important;
}

.upos-nav-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.upos-dash-row {
    text-align: center;
    padding-bottom: 10px;
}

.upos-dash-card {
    background-color: #ddd;
    text-align: center;
    padding-bottom: 10px;
    transition: 0.3s;
}

.upos-dash-card:hover {
    background-color: #007bff;
    color: white;
}

.landing-background {
    background-image: url('/SRAT1oil.JPG');
    height: 98vh;
    background-size: cover;
    background-position: center;
}

#landing-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    margin: none;
}

.section {
    padding: 10px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
}